<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FortStats</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>FortStats</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/player/stats/combined/<%= @current_season %>/page-1">MyStats</a>
          </li>
          <li>
            <a href="/players">Players</a>
          </li>
          <li>
            <a href="/leaderboard/combined/<%= @current_season %>/sort-by-user">Leaderboard</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <% if session[:success] %>
        <div class="flash success">
          <p><%= session.delete(:success) %></p>
        </div>
      <% end %>

      <% if session[:error] %>
        <div class="flash error">
          <p><%= session.delete(:error) %></p>
        </div>
      <% end %>
    </section>
    <main>
      <%== yield %>
    </main>
  </body>
</html>